<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/admin-dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/admin-menu.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <title> HNNews :: QTV :: Trang chủ </title>
</head>

<body>
    <div class="container">
        <div class="row" style="margin: 0;">
            {{!-- Navbar of Admin --}}
            <div class="col-md-1" style="padding: 0; height: initial;">
                <div class="row admin-nav">
                    <div class="col-md-11 nav-col-1st">
                        <div class="nav-top">
                            <a href="/admin-dashboard">
                                <img class="img-logo" src="/img/general/logo.png" alt="HN News">
                            </a>
                            <div class="line-support"></div>
                            <div class="row menu-bar">
                                <div class="col-md-12 row-img">
                                    <a class="img-click" href="" data-target="#admin-dashboard" data-toggle="collapse">
                                        <img class="menu-icon active" src="/img/admin-menuicon/home.png"></a>
                                </div>
                                <div class="col-md-12 row-img">
                                    <a class="img-click" href="" data-target="#admin-account" data-toggle="collapse">
                                        <img class="menu-icon" src="/img/admin-menuicon/account.png"></a>
                                </div>
                                <div class="col-md-12 row-img">
                                    <a class="img-click" href="" data-target="#admin-post" data-toggle="collapse">
                                        <img class="menu-icon" src="/img/admin-menuicon/posts.png"></a>
                                </div>
                                <div class="col-md-12 row-img">
                                    <a class="img-click" href="" data-target="#admin-category" data-toggle="collapse">
                                        <img class="menu-icon" src="/img/admin-menuicon/category.png"></a>
                                </div>
                                <div class="col-md-12 row-img">
                                    <a class="img-click" id="admin-tag" href="" data-target="#admin-tag"
                                        data-toggle="collapse">
                                        <img class="menu-icon" src="/img/admin-menuicon/tag.png"></a>
                                </div>
                            </div>
                        </div>
                        <div class="nav-bottom">
                            <div class="line-support"></div>
                            <div style="height: initial;">
                                ADMIN PAGE
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 nav-col-2nd">
                        <div class="shadowbox-admin-nav"></div>
                    </div>
                </div>
            </div>

            {{!-- Content --}}
            <div class="col-md-11 content-here" id="tab-content">

                {{!-- Dashboard --}}
                <div class="row content collapse show" id="admin-dashboard" style="margin: 0;"
                    data-parent="#tab-content">
                    <div class="col-md-12" style="padding: 0;">
                        {{!-- Topbar --}}
                        <div class="row top-bar">
                            <div class="col-md-8 topbar-title">
                                <div class="topbar-title-text-2"> TRANG CHỦ </div>
                            </div>
                            <div class="col-md-3 topbar-account">
                                <div class="topbar-account-text-1"> TRẦN HẠO NAM </div>
                                <div class="topbar-account-text-2"> Quản trị viên </div>
                            </div>
                            <div class="col-md-1 topbar-avatar">
                                <img class="topbar-avatar-img" src="/img/general/admin-avatar.png">
                            </div>
                        </div>

                        {{!-- Content inside --}}
                        <div class="row content-inside dashboard-page">
                            <img class="dashboard-bg" src="/img/undraw/undraw-dashboard.png">
                        </div>
                    </div>
                </div>

                {{!-- Account --}}
                <div class="row content collapse" id="admin-account" style="margin: 0;" data-parent="#tab-content">
                    <div class="col-md-12" style="padding: 0;">
                        {{!-- Topbar --}}
                        <div class="row top-bar">
                            <div class="col-md-8 topbar-title">
                                <div class="topbar-title-text-1"> QUẢN LÝ </div>
                                <div class="topbar-title-text-2"> DANH SÁCH TÀI KHOẢN </div>
                            </div>
                            <div class="col-md-3 topbar-account">
                                <div class="topbar-account-text-1"> TRẦN HẠO NAM </div>
                                <div class="topbar-account-text-2"> Quản trị viên </div>
                            </div>
                            <div class="col-md-1 topbar-avatar">
                                <img class="topbar-avatar-img" src="/img/general/admin-avatar.png">
                            </div>
                        </div>

                        {{!-- Content inside --}}
                        <div class="container-content-here mt-1">
                            <div class="row list-style user-part">
                                <div
                                    class="col-md-3 manage-user-part list-style-flex list-style-active part-active account-page-account">
                                    {{#with numberaccount.[0].[3]}}
                                    <div class="ls-title"> TẤT CẢ </div>
                                    <div class="count"> SL: <strong class="count-bold">{{count_value}}</strong></div>
                                    {{/with}}
                                </div>
                                <div class="col-md-3 manage-user-part list-style-flex account-page-user">
                                    {{#with numberaccount.[0].[1]}}
                                    <div class="ls-title"> ĐỘC GIẢ </div>
                                    <div class="count"> SL: <strong class="count-bold">{{count_value}}</strong></div>
                                    {{/with}}
                                </div>
                                <div class="col-md-3 manage-user-part list-style-flex account-page-writer">
                                    {{#with numberaccount.[0].[2]}}
                                    <div class="ls-title"> PHÓNG VIÊN </div>
                                    <div class="count"> SL: <strong class="count-bold">{{count_value}}</strong></div>
                                    {{/with}}
                                </div>
                                <div class="col-md-3 manage-user-part list-style-flex account-page-editor">
                                    {{#with numberaccount.[0].[0]}}
                                    <div class="ls-title"> BIÊN TẬP VIÊN </div>
                                    <div class="count"> SL: <strong class="count-bold">{{count_value}}</strong></div>
                                    {{/with}}
                                </div>
                            </div>
                        </div>
                        <div class="container-content-here">
                            <div class="row content-inside">
                                <div class="col-md-12 account-page">
                                    {{!-- Form --}}
                                    {{!-- All Account --}}
                                    <form method="POST" class="account-page-here acc-here acc-active">
                                        <a class="btn btn-outline-success add-account-main-btn" role="button">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Thêm
                                        </a>
                                        <table class="table" style="margin-top: 20px;">
                                            <thead>
                                                <tr>
                                                    <th> ID </th>
                                                    <th> Tên đăng nhập </th>
                                                    <th> Họ và tên </th>
                                                    <th> Email </th>
                                                    <th> Vai trò </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each accountlist.[0]}}
                                                <tr>
                                                    <td>{{inc @index}}</td>
                                                    <td>{{user_name}}</td>
                                                    <td>{{full_name}}</td>
                                                    <td>{{email}}</td>
                                                    {{#ifEquals role_name "user"}}
                                                    <td>Độc giả</td>
                                                    {{/ifEquals}}
                                                    {{#ifEquals role_name "writer"}}
                                                    <td>Phóng viên</td>
                                                    {{/ifEquals}}
                                                    {{#ifEquals role_name "editor"}}
                                                    <td>Biên tập viên</td>
                                                    {{/ifEquals}}
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </form>

                                    {{!-- All User --}}
                                    <form method="POST" class="account-page-here user-here">
                                        <table class="table" style="margin-top: 20px;">
                                            <thead>
                                                <tr>
                                                    <th> ID </th>
                                                    <th> Họ và tên </th>
                                                    <th> Email </th>
                                                    <th> NTNS </th>
                                                    <th> Ngày tạo </th>
                                                    <th> Ngày hết hạn </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each userlist.[0]}}
                                                <tr>
                                                    <td>{{inc @index}}</td>
                                                    <td>{{full_name}}</td>
                                                    <td>{{email}}</td>
                                                    <td>{{dob}}</td>
                                                    <td>{{create_date}}</td>
                                                    <td>{{end_date}}</td>
                                                    <td style="text-align: right;">
                                                        <a class="btn btn-primary btn-sm" style="font-size: 7pt;"
                                                            href="/admin-editaccount/{{role_name}}/{{user_id}}"
                                                            role="button">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </form>

                                    {{!-- All Writer --}}
                                    <form method="POST" class="account-page-here writer-here">
                                        <table class="table" style="margin-top: 20px;">
                                            <thead>
                                                <tr>
                                                    <th> ID </th>
                                                    <th> Họ và tên </th>
                                                    <th> Email </th>
                                                    <th> NTNS </th>
                                                    <th> Bút danh </th>
                                                    <th> Số lượng bài viết </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each writerlist.[0]}}
                                                <tr>
                                                    <td>{{inc @index}}</td>
                                                    <td>{{full_name}}</td>
                                                    <td>{{email}}</td>
                                                    <td>{{dob}}</td>
                                                    <td>{{pen_name}}</td>
                                                    <td>{{postvalue}}</td>
                                                    <td style="text-align: right;">
                                                        <a class="btn btn-primary btn-sm" style="font-size: 7pt;"
                                                            href="/admin-editaccount/{{role_name}}/{{writer_id}}"
                                                            role="button">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </form>

                                    {{!-- All Editor --}}
                                    <form method="POST" class="account-page-here editor-here">
                                        <table class="table" style="margin-top: 20px;">
                                            <thead>
                                                <tr>
                                                    <th> ID </th>
                                                    <th> Họ và tên </th>
                                                    <th> Email </th>
                                                    <th> NTNS </th>
                                                    <th> Số chuyên mục phụ trách </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each editorlist.[0]}}
                                                <tr>
                                                    <td>{{inc @index}}</td>
                                                    <td>{{full_name}}</td>
                                                    <td>{{email}}</td>
                                                    <td>{{dob}}</td>
                                                    <td>{{categoryvalue}}</td>
                                                    <td style="text-align: right;">
                                                        <a class="btn btn-primary btn-sm" style="font-size: 7pt;"
                                                            href="/admin-editaccount/{{role_name}}/{{editor_id}}"
                                                            role="button">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </form>

                                    {{!-- Pagination --}}
                                    <nav class="nav-pagination" aria-label="..." style="height: initial;">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="row popup-background">
                                <div class="col-md-12 addaccount-popup">
                                    <p class="popup-title"> TẠO TÀI KHOẢN </p>
                                    <p class="popup-describe"> <span style="color: red;">(*) Lưu ý bắt buộc</span> phải
                                        nhập đầy đủ thông tin được yêu cầu.
                                    </p>
                                    <form class="row" method="POST" action="" id="adminAddAccountForm">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-popup" for="account-username"> Tên tài khoản
                                                </label>
                                                <input type="text" class="form-control popup-input"
                                                    id="account-username" name="accountusername"
                                                    placeholder="Nhập tên tài khoản" autofocus>
                                            </div>
                                            <div class="form-group">
                                                <label class="label-popup" for="account-password"> Mật khẩu </label>
                                                <input type="password" class="form-control popup-input"
                                                    id="account-password" name="accountpassword"
                                                    placeholder="Nhập mật khẩu">
                                            </div>
                                            <div class="form-group">
                                                <label class="label-popup" for="account-email"> Email </label>
                                                <input type="email" class="form-control popup-input" id="account-email"
                                                    name="accountemail" placeholder="Nhập email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label-popup" for="account-fullname"> Họ và tên </label>
                                                <input type="text" class="form-control popup-input"
                                                    id="account-fullname" name="accountfullname"
                                                    placeholder="Nhập họ tên">
                                            </div>
                                            <div class="form-group">
                                                <label class="label-popup" for="account-dob"> NTNS </label>
                                                <input type="text" class="form-control popup-input" id="account-dob"
                                                    name="accountdob" placeholder="Nhập NTNS">
                                            </div>
                                            <div class="form-group">
                                                <label class="label-page" for="account-role"> Vai trò </label>
                                                <select class="form-control" id="account-role" name="accountrole">
                                                    <option value="" disabled selected> Chọn phân hệ tài khoản </option>
                                                    <option class="popup-input" value="1"> Độc giả </option>
                                                    <option class="popup-input" value="2"> Phóng viên </option>
                                                    <option class="popup-input" value="3"> Biên tập viên </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group acc-penname">
                                            <label class="label-popup" for="account-penname"> Bút danh </label>
                                            <input type="text" class="form-control popup-input" id="account-penname"
                                                name="accountpenname" placeholder="Nhập bút danh" disabled>
                                        </div>
                                        <div class="col-md-4 form-group acc-startdate">
                                            <label class="label-popup" for="account-startdate"> Ngày bắt đầu </label>
                                            <input type="text" class="form-control popup-input" id="account-startdate"
                                                name="accountstartdate" placeholder="Nhập ngày bắt đầu" disabled>
                                        </div>
                                        <div class="col-md-4 form-group acc-enddate">
                                            <label class="label-popup" for="account-enddate"> Ngày hết hạn </label>
                                            <input type="text" class="form-control popup-input" id="account-enddate"
                                                name="accountenddate" placeholder="Nhập ngày hết hạn" disabled>
                                        </div>
                                        <div class="col-md-12 form-group" style="text-align: center;">
                                            <button type="button" class="btn btn-success" id="btn-add-account"> Tạo tài
                                                khoản </button>
                                            <button type="button" class="btn btn-dark close-btn"> Đóng
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row popup-notificationSuccess">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO </p>
                                    <p class="popup-content"> Tạo <span style="color: rgb(40, 200, 0)">thành
                                            công</span> tài khoản mới.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                            <div class="row popup-notificationFailBoth">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                                    <p class="popup-content"> Tạo tài khoản mới <span style="color: red">thất bại</span>
                                        do
                                        username và email đã tồn tại.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                            <div class="row popup-notificationFailUserName">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                                    <p class="popup-content"> Tạo tài khoản mới <span style="color: red">thất bại</span>
                                        do
                                        username đã tồn tại.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                            <div class="row popup-notificationFailEmail">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                                    <p class="popup-content"> Tạo tài khoản mới <span style="color: red">thất bại</span>
                                        do
                                        email đã tồn tại.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                            <div class="row popup-notificationFailFull">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                                    <p class="popup-content"> Tạo tài khoản mới <span style="color: red">thất bại</span>
                                        do chưa nhập đầy đủ thông tin.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Post --}}
                <div class="row content collapse" id="admin-post" style="margin: 0;" data-parent="#tab-content">
                    <div class="col-md-12" style="padding: 0;">
                        {{!-- Topbar --}}
                        <div class="row top-bar">
                            <div class="col-md-8 topbar-title">
                                <div class="topbar-title-text-1"> QUẢN LÝ </div>
                                <div class="topbar-title-text-2"> DANH SÁCH BÀI VIẾT </div>
                            </div>
                            <div class="col-md-3 topbar-account">
                                <div class="topbar-account-text-1"> TRẦN HẠO NAM </div>
                                <div class="topbar-account-text-2"> Quản trị viên </div>
                            </div>
                            <div class="col-md-1 topbar-avatar">
                                <img class="topbar-avatar-img" src="/img/general/admin-avatar.png">
                            </div>
                        </div>

                        {{!-- Content inside --}}
                        <div class="container-content-here">
                            <div class="row content-inside">
                                <div class="col-md-12 account-page">
                                    {{!-- Form --}}
                                    <form method="POST" style="height: initial;">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th> ID </th>
                                                        <th> Tiêu đề bài viết </th>
                                                        <th> Chuyên mục </th>
                                                        <th> Phóng viên viết bài </th>
                                                        <th> Trạng thái </th>
                                                        <th> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each postlist.[0]}}
                                                    <tr style="border-top: 1px solid #dee2e6;">
                                                        <td class="td-noborder">{{inc @index}}</td>
                                                        <td class="td-noborder td-textoverflow">{{title}}</td>
                                                        <td class="td-noborder">{{category_name}} - {{subcategory_name}}
                                                        </td>
                                                        <td class="td-noborder">{{full_name}}</td>
                                                        {{#ifEquals status_post "1"}}
                                                        <td class="publish td-noborder">Đã xuất bản</td>
                                                        {{/ifEquals}}
                                                        {{#ifEquals status_post "2"}}
                                                        <td class="approved td-noborder">Đã được duyệt và chờ xuất bản
                                                        </td>
                                                        {{/ifEquals}}
                                                        {{#ifEquals status_post "3"}}
                                                        <td class="not-approve td-noborder">Chưa được duyệt</td>
                                                        {{/ifEquals}}
                                                        {{#ifEquals status_post "4"}}
                                                        <td class="refuse td-noborder">Bị từ chối</td>
                                                        {{/ifEquals}}
                                                        <td class="td-noborder" style="text-align: right; width: 50px;">
                                                            <a class="btn btn-primary btn-sm" style="font-size: 7pt;"
                                                                href="/admin-editpost/{{post_id}}" role="button">
                                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>

                                    {{!-- Pagination --}}
                                    <nav class="nav-pagination" aria-label="..." style="height: initial;">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Category --}}
                <div class="row content collapse" id="admin-category" style="margin: 0;" data-parent="#tab-content">
                    <div class="col-md-12" style="padding: 0;">
                        {{!-- Topbar --}}
                        <div class="row top-bar">
                            <div class="col-md-8 topbar-title">
                                <div class="topbar-title-text-1"> QUẢN LÝ </div>
                                <div class="topbar-title-text-2"> DANH SÁCH CHUYÊN MỤC </div>
                            </div>
                            <div class="col-md-3 topbar-account">
                                <div class="topbar-account-text-1"> TRẦN HẠO NAM </div>
                                <div class="topbar-account-text-2"> Quản trị viên </div>
                            </div>
                            <div class="col-md-1 topbar-avatar">
                                <img class="topbar-avatar-img" src="/img/general/admin-avatar.png">
                            </div>
                        </div>

                        {{!-- Content inside --}}
                        <div class="container-content-here">
                            <div class="row content-inside">
                                <div class="col-md-12 account-page">
                                    {{!-- Form --}}
                                    <form method="POST" style="height: initial;">
                                        <a class="btn btn-outline-success add-category-main-btn" role="button">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Thêm
                                        </a>
                                        <table class="table" style="margin-top: 20px;">
                                            <thead>
                                                <tr>
                                                    <th> ID </th>
                                                    <th> Chuyên mục </th>
                                                    <th> Số lượng bài viết </th>
                                                    <th> Biên tập viên phụ trách </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each categorylist.[0]}}
                                                <tr>
                                                    <td>{{inc @index}}</td>
                                                    <td>{{subcategory_name}}</td>
                                                    <td>{{postvalue}}</td>
                                                    <td>{{full_name}}</td>
                                                    <td style="text-align: right;">
                                                        <a class="btn btn-primary btn-sm" style="font-size: 7pt;"
                                                            href="/admin-editcategory/{{id}}" role="button">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </form>

                                    {{!-- Pagination --}}
                                    <nav class="nav-pagination" aria-label="..." style="height: initial;">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="row popup-background">
                                <div class="col-md-12 add-popup">
                                    <p class="popup-title"> THÊM CHUYÊN MỤC </p>
                                    <p class="popup-describe"> <span style="color: red;">(*) Chỉ có thể thêm chuyên mục
                                            con.</span> Trước tiên chọn chuyên mục cha. Sau đó nhập tên chuyên mục mong
                                        muốn ở ô chuyên mục con để tiến hành thêm dữ liệu chuyên mục mới. </p>
                                    <form class="row" method="POST" action="">
                                        <div class="col-md-6 form-group">
                                            <label class="label-popup" for="category-dad"> Chuyên mục cha </label>
                                            <select class="form-control" id="category-dad" name="categorydad">
                                                <option value="" disabled selected> Chọn chuyên mục </option>
                                                {{#each categorydad}}
                                                <option class="popup-input" value="{{id}}">{{category_name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="label-popup" for="category-editor"> Chọn Biên tập viên phụ
                                                trách </label>
                                            <select class="form-control" id="category-editor" name="categoryeditor">
                                                <option value="" disabled selected> Chọn Biên tập viên </option>
                                                {{#each editorsubcatlist}}
                                                <option class="popup-input" value="{{id}}">{{full_name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label class="label-popup" for="category-son"> Chuyên mục con </label>
                                            <input type="text" class="form-control popup-input" id="category-son"
                                                name="categoryson" placeholder="Nhập tên chuyên mục con" autofocus>
                                        </div>
                                        <div class="col-md-12 form-group" style="text-align: right;">
                                            <a role="button" class="btn btn-success" id="btn-add-category"> Thêm </a>
                                            <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row popup-notificationSuccess">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO </p>
                                    <p class="popup-content"> Bạn đã thêm <span style="color: rgb(40, 200, 0)">thành
                                            công</span> chuyên mục mới.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                            <div class="row popup-notificationFailSame">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                                    <p class="popup-content"> Thêm chuyên mục <span style="color: red">thất bại</span>
                                        do tên chuyên mục đã tồn tại.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                            <div class="row popup-notificationFailNotEnough">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                                    <p class="popup-content"> Thêm chuyên mục <span style="color: red">thất bại</span>
                                        do nhập thiếu thông tin (<span style="font-weight: 700;">chưa chọn</span> tên
                                        Chuyên mục cha hay tên Biên tập viên).</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Tag --}}
                <div class="row content collapse" id="admin-tag" style="margin: 0;" data-parent="#tab-content">
                    <div class="col-md-12" style="padding: 0;">
                        {{!-- Topbar --}}
                        <div class="row top-bar">
                            <div class="col-md-8 topbar-title">
                                <div class="topbar-title-text-1"> QUẢN LÝ </div>
                                <div class="topbar-title-text-2"> DANH SÁCH NHÃN DÁN </div>
                            </div>
                            <div class="col-md-3 topbar-account">
                                <div class="topbar-account-text-1"> TRẦN HẠO NAM </div>
                                <div class="topbar-account-text-2"> Quản trị viên </div>
                            </div>
                            <div class="col-md-1 topbar-avatar">
                                <img class="topbar-avatar-img" src="/img/general/admin-avatar.png">
                            </div>
                        </div>

                        {{!-- Content inside --}}
                        <div class="container-content-here">
                            <div class="row content-inside">
                                <div class="col-md-12 tag-page">
                                    {{!-- Form --}}
                                    <form method="POST" style="height: initial;">
                                        <a class="btn btn-outline-success add-tag-main-btn" role="button">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Thêm
                                        </a>
                                        <table class="table" style="margin-top: 20px;">
                                            <thead>
                                                <tr>
                                                    <th> ID </th>
                                                    <th> Nhãn dán </th>
                                                    <th> Số lượng bài viết </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each taglist.[0]}}
                                                <tr>
                                                    <td>{{inc @index}}</td>
                                                    <td>{{tag_name}}</td>
                                                    <td>{{postvalue}}</td>
                                                    <td style="text-align: right;">
                                                        <a class="btn btn-primary btn-sm" style="font-size: 7pt;"
                                                            href="/admin-edittag/{{tag_id}}" role="button">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </form>

                                    {{!-- Pagination --}}
                                    <nav class="nav-pagination" aria-label="..." style="height: initial;">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="row popup-background">
                                <div class="col-md-12 add-popup">
                                    <p class="popup-title"> THÊM NHÃN DÁN </p>
                                    <p class="popup-describe"> <span style="color: red;">(*) Lưu ý bắt buộc</span> phải
                                        nhập nhãn có kí tự <span style="color: red; font-weight: 700;">#</span> trong
                                        tên. <span style="text-decoration: underline;">Ví dụ</span>: #test.
                                    </p>
                                    <div class="form-group">
                                        <label class="label-popup" for="tag-name"> Nhãn dán </label>
                                        <input type="text" class="form-control popup-input" id="tag-name" name="tagname"
                                            placeholder="Nhập tên nhãn dán" autofocus>
                                    </div>
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-success" id="btn-add-tag">Thêm </button>
                                        <button type="button" class="btn btn-dark close-btn"> Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row popup-notificationSuccess">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO </p>
                                    <p class="popup-content"> Bạn đã thêm <span style="color: rgb(40, 200, 0)">thành
                                            công</span> nhãn dán mới.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                            <div class="row popup-notificationFailSame">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                                    <p class="popup-content"> Thêm nhãn dán <span style="color: red">thất bại</span> do
                                        tên đã tồn tại.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                            <div class="row popup-notificationFailTyping">
                                <div class="col-md-12 noti-popup">
                                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                                    <p class="popup-content"> Thêm nhãn dán <span style="color: red">thất bại</span> do
                                        nhập sai cấu trúc tên nhãn dán.</p>
                                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- JQuery Validation --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    {{!-- JQuery DateTimePicker --}}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

    {{!-- Script --}}
    <script>
        $(document).ready(function () {
            $(".img-click").click(function () {
                if ($(this).children("img").hasClass("active") === false) {
                    $(".img-click").children(".active").removeClass("active");
                    $(this).children("img").addClass("active");
                }
            });

            $(".manage-user-part").hover(function () {
                if ($(this).hasClass("list-style-active") === false) {
                    $(this).addClass("list-style-active");
                }
            }, function () {
                if ($(this).hasClass("part-active") === false) {
                    $(this).removeClass("list-style-active");
                }
            });

            $(".manage-user-part").click(function () {
                if ($(this).hasClass("part-active") === false) {
                    $(".user-part").children(".part-active").removeClass("list-style-active");
                    $(".user-part").children(".part-active").removeClass("part-active");
                    $(this).addClass("part-active");
                    $(this).addClass("list-style-active");

                    if ($(this).hasClass("account-page-account")) {
                        if (!$(".acc-here").hasClass("acc-active")) {
                            $(".account-page").children(".acc-active").removeClass("acc-active");
                            $(".acc-here").addClass("acc-active");
                        }
                    } else if ($(this).hasClass("account-page-user")) {
                        if (!$(".user-here").hasClass("acc-active")) {
                            $(".account-page").children(".acc-active").removeClass("acc-active");
                            $(".user-here").addClass("acc-active");
                        }
                    } else if ($(this).hasClass("account-page-writer")) {
                        if (!$(".writer-here").hasClass("acc-active")) {
                            $(".account-page").children(".acc-active").removeClass("acc-active");
                            $(".writer-here").addClass("acc-active");
                        }
                    } else if ($(this).hasClass("account-page-editor")) {
                        if (!$(".editor-here").hasClass("acc-active")) {
                            $(".account-page").children(".acc-active").removeClass("acc-active");
                            $(".editor-here").addClass("acc-active");
                        }
                    }
                }
            })

            $(".add-category-main-btn").click(function () {
                $(".popup-background").show();
            });

            $(".add-tag-main-btn").click(function () {
                $(".popup-background").show();
            });

            $(".add-account-main-btn").click(function () {
                $(".popup-background").show();
            })

            $(".close-btn").click(function () {
                $(".popup-background").hide();
                $(".popup-notificationFailSame").hide();
                $(".popup-notificationFailTyping").hide();
                $(".popup-notificationFailNotEnough").hide();
                $(".popup-notificationSuccess").hide();
                $(".popup-notificationFailBoth").hide();
                $(".popup-notificationFailEmail").hide();
                $(".popup-notificationFailUserName").hide();
                $(".popup-notificationFailFull").hide();
            });

            // Add Category Click
            function btnaddcategoryClick() {
                // Create parameter
                var categorydad = $("select[name=categorydad]").val();
                var categoryeditor = $("select[name=categoryeditor]").val();
                var categoryson = $("#category-son").val();

                // Final action
                $.post("/admin-dashboard/addcategory",
                    {
                        subcat: categoryson,
                        cat: categorydad,
                        editor: categoryeditor
                    },
                    function (result) {
                        if (result === "FailNotEnough") {
                            $(".popup-notificationFailNotEnough").show();
                        } else if (result === "FailSame") {
                            $(".popup-notificationFailSame").show();
                        } else {
                            $(".popup-notificationSuccess").show();
                        }
                    });
            }

            $("#btn-add-category").click(function () {
                $(".popup-background").hide();
                btnaddcategoryClick();
            })

            // Add Tag Click
            function btnaddtagClick() {
                // Create parameter
                var newtag = $("#tag-name").val();

                // Final action
                $.post("/admin-dashboard/addtag",
                    { newtag: newtag },
                    function (result) {
                        if (result === "FailTyping") {
                            $(".popup-notificationFailTyping").show();
                        } else if (result === "FailSame") {
                            $(".popup-notificationFailSame").show();
                        } else {
                            $(".popup-notificationSuccess").show();
                        }
                    });
            }

            $("#btn-add-tag").click(function () {
                $(".popup-background").hide();
                btnaddtagClick();
            })

            $("#account-dob").datetimepicker({
                format: 'd/m/Y',
                timepicker: false,
                mask: false,
                maxDate: 0
            });

            $("#adminAddAccountForm").validate({
                rules: {
                    accountusername: {
                        required: true,
                        maxlength: 50
                    },
                    accountpassword: {
                        required: true,
                        minlength: 6
                    },
                    accountemail: {
                        required: true,
                        email: true,
                        maxlength: 100
                    },
                    accountfullname: {
                        required: true,
                        maxlength: 100
                    },
                    accountdob: {
                        required: true,
                    },
                    accountrole: {
                        required: true,
                    },
                    accountpenname: {
                        required: true,
                        minlength: 6,
                        maxlength: 50
                    },
                    accountstartdate: {
                        required: true
                    },
                    accountenddate: {
                        required: true
                    }
                },
                messages: {
                    accountusername: {
                        required: 'Không được để trống tên đăng nhập',
                        maxlength: 'Tên đăng nhập chỉ tối đa 50 kí tự'
                    },
                    accountpassword: {
                        required: 'Không được để trống mật khẩu',
                        minlength: 'Mật khẩu phải có ít nhất 6 kí tự'
                    },
                    accountemail: {
                        required: 'Không được để trống email',
                        email: 'Email phải nhập đúng cấu trúc',
                        maxlength: 'Email chỉ tối đa 100 kí tự'
                    },
                    accountfullname: {
                        required: 'Không được để trống họ tên',
                        maxlength: 'Họ tên chỉ tối đa 100 kí tự'
                    },
                    accountdob: {
                        required: 'Không được để trống NTNS',
                    },
                    accountrole: {
                        required: 'Không được để trống vai trò',
                    },
                    accountpenname: {
                        required: 'Không được để trống bút danh',
                        minlength: 'Bút danh phải có ít nhất 6 kí tự',
                        maxlength: 'Bút danh chỉ tối đa 50 kí tự'
                    },
                    accountstartdate: {
                        required: 'Không được để trống Ngày bắt đầu'
                    },
                    accountenddate: {
                        required: 'Không được để trống Ngày hết hạn'
                    }
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                highlight: function (e) {
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                }
            });

            $("#account-startdate").click(function () {
                $("#account-startdate").datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: $('#account-enddate').val() ? $('#account-enddate').val() : false
                        })
                    },
                    timepicker: false,
                    mask: false
                });

                $("#account-enddate").datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: $('#account-startdate').val() ? $('#account-startdate').val() : false
                        })
                    },
                    timepicker: false,
                    mask: false
                });
            })

            $("#account-enddate").click(function () {
                $("#account-startdate").datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: $('#account-enddate').val() ? $('#account-enddate').val() : false
                        })
                    },
                    timepicker: false,
                    mask: false
                });

                $("#account-enddate").datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: $('#account-startdate').val() ? $('#account-startdate').val() : false
                        })
                    },
                    timepicker: false,
                    mask: false
                });
            })

            $("#account-role").click(function () {
                if ($("select[name=accountrole]").val() === "") {
                    $(".acc-startdate").children("input").prop('disabled', true);
                    $(".acc-enddate").children("input").prop('disabled', true);
                    $(".acc-penname").children("input").prop('disabled', true);
                } else if ($("select[name=accountrole]").val() === "1") {
                    $(".acc-startdate").children("input").prop('disabled', false);
                    $(".acc-enddate").children("input").prop('disabled', false);
                    $(".acc-penname").children("input").prop('disabled', true);
                } else if ($("select[name=accountrole]").val() === "2") {
                    $(".acc-startdate").children("input").prop('disabled', true);
                    $(".acc-enddate").children("input").prop('disabled', true);
                    $(".acc-penname").children("input").prop('disabled', false);
                } else if ($("select[name=accountrole]").val() === "3") {
                    $(".acc-startdate").children("input").prop('disabled', true);
                    $(".acc-enddate").children("input").prop('disabled', true);
                    $(".acc-penname").children("input").prop('disabled', true);
                }
            });

            $("#account-startdate").click(function () {
                $("#account-startdate").datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: $('#account-enddate').val() ? $('#account-enddate').val() : false
                        })
                    },
                    timepicker: false,
                    mask: false
                });

                $("#account-enddate").datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: $('#account-startdate').val() ? $('#account-startdate').val() : false
                        })
                    },
                    timepicker: false,
                    mask: false
                });
            });

            $("#account-enddate").click(function () {
                $("#account-startdate").datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: $('#account-enddate').val() ? $('#account-enddate').val() : false
                        })
                    },
                    timepicker: false,
                    mask: false
                });

                $("#account-enddate").datetimepicker({
                    format: 'd/m/Y',
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: $('#account-startdate').val() ? $('#account-startdate').val() : false
                        })
                    },
                    timepicker: false,
                    mask: false
                });
            });

            // Add Account Click
            function btnaddaccountClick() {
                // Create parameter
                var username = $("#account-username").val();
                var pass = $("#account-password").val();
                var roleid = parseInt($("select[name=accountrole]").val());
                var fullname = $("#account-fullname").val();
                var email = $("#account-email").val();
                var penname = $("#account-penname").val();
                var dob = $("#account-dob").val();
                var start = $("#account-startdate").val();
                var end = $("#account-enddate").val();

                // Final action
                $.post("/admin-dashboard/addaccount",
                    {
                        username: username,
                        pass: pass,
                        roleid: roleid,
                        fullname: fullname,
                        email: email,
                        penname: penname,
                        dob: dob,
                        start: start,
                        end: end
                    },
                    function (result) {
                        if (result === "FailBoth") {
                            $(".popup-background").hide();
                            $(".popup-notificationFailBoth").show();
                        } else if (result === "FailEmail") {
                            $(".popup-background").hide();
                            $(".popup-notificationFailEmail").show();
                        } else if (result === "FailUserName") {
                            $(".popup-background").hide();
                            $(".popup-notificationFailUserName").show();
                        } else if (result === "FailFull") {
                        } else {
                            $(".popup-background").hide();
                            $(".popup-notificationSuccess").show();
                        }
                    });
            }

            $("#btn-add-account").click(function () {
                btnaddaccountClick();
            })
        })
    </script>
</body>

</html>