<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/detail-eachpost.css">
    <title> HNNews - Tin tức </title>
</head>

<body>
    {{!-- Navigation bar --}}
    {{> nav}}

    <div class="container">
        <div id="scroll-smooth"></div>

        {{#if error}}
        <div class="col-md-12 alert alert-danger" style="height: initial; margin: 20px 0px; text-align: center"
            role="alert">
            <p style="margin: 20px 0px;"> <i class="fas fa-sad-tear"
                    style="color: rgb(235, 129, 129); font-size: 200px;"></i> </p>
            <p style="margin: 20px 0px;"> Không tìm thấy dữ liệu bài viết, lỗi truy cập.<a href="/" class="alert-link">
                    Quay trở về</a> </p>
        </div>
        {{else}}
        {{!-- Body detail --}}
        {{#with singlepost.[0]}}
        <div class="eachpost-main">
            <div class="row">
                <div class="col-md-6 eachpost-left">
                    <p class="eachpost-tag">
                        {{#each tagofpost}}
                        <a href="/nhandan/{{tag_id}}" class="a-tag-specialstyle"> {{tag_name}} </a>
                        {{/each}}
                    </p>
                    <p class="eachpost-title"> {{title}} </p>
                    <p class="eachpost-category"> Chuyên mục: <a href="/chuyenmuc/{{cat_id}}"
                            class="eachpost-cat-subcat">{{category_name}}</a> - <a
                            href="/chuyenmuc/{{cat_id}}/{{subcat_id}}"
                            class="eachpost-cat-subcat">{{subcategory_name}}</a>
                    </p>
                    <p class="eachpost-datetime"> {{finaldate}} - {{views}} lượt xem </p>
                </div>
                <div class="col-md-6 eachpost-right">
                    {{#ifEquals is_premium 1}}
                    <div class="ispremium"> <i class="fa fa-star icon-ispremium" aria-hidden="true"></i> </div>
                    {{/ifEquals}}
                    <img class="eachpost-image" src="{{link_image}}" alt="{{link_name}}">
                </div>
            </div>
        </div>

        <div class="row eachpost-middle">
            <div class="col-md-12 eachpost-content">
                <p class="style-default"> <span style="font-weight: 700; color: red;">TÓM TẮT:</span> {{summary}} </p>
                <div class="style-one-line"></div>
                <div class="style-one-two"></div>
                {{{content}}}
                <p class="eachpost-writer"> {{pen_name}} ({{full_name}}) </p>
            </div>
        </div>
        {{/with}}

        {{!-- My comment --}}
        {{#if isAuthenticatedAccount}}
        <div class="eachpost-mycomment">
            {{#with singlepost.[0]}}
            <form role="form" method="POST" action="/baiviet/{{cat_id}}/{{subcat_id}}/{{post_id}}">
                {{/with}}
                <div class="row mycomment-margin">
                    <div class="col-md-6 mycomment-avatarandname">
                        <img class="avatar" src="/img/general/avatar-default.png" alt="Ảnh đại diện">
                        <p class="mycomment-name"> {{authAccount.fullname}} </p>
                    </div>
                </div>
                <div class="row mycomment-margin">
                    <div class="col-md-12">
                        <textarea name="comment" class="form-control form-text-size" type="text"
                            placeholder="Bạn nghĩ gì về tin này?" required></textarea>
                    </div>
                </div>
                <div class="row mycomment-margin mycomment-buttonsend">
                    <button type="submit" class="giris-yap-buton comment-btn"> Gửi bình luận </button>
                </div>
            </form>
        </div>
        {{else}}
        <div class="eachpost-mycomment">
            <div class="row mycomment-margin box-comment-signstate">
                Để bình luận vào bài viết, vui lòng <a href="/dangnhap" class="mycomment-login">&nbsp; ĐĂNG NHẬP
                    &nbsp;</a> vào tài
                khoản. Nếu bạn chưa có tài khoản, hãy <a href="/dangky" class="mycomment-register">&nbsp; ĐĂNG KÝ </a>.
            </div>
        </div>
        {{/if}}

        <div class="row eachpost-bottom">
            <div class="col-md-8 eachpost-othercomments">
                <div class="row othercomments-title">
                    Ý KIẾN BẠN ĐỌC
                </div>
                {{#each postcomment}}
                <div class="row othercomments-part">
                    <div class="col-md-1 othercomments-avatar">
                        <img class="style-avatar" src="/img/avatar/default.jpg">
                    </div>
                    <div class="col-md-11">
                        <p class="othercomments-accountname"> {{full_name}} </p>
                        <p class="othercomments-content">
                            {{content}}
                        </p>
                        <p class="othercomments-date"> {{finaldate}} </p>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-md-4">
                <div class="row row-margin eachpost-samecategory">
                    <div class="col-md-12 line-top"></div>
                    <div class="col-md-12 title-left"> CÙNG CHUYÊN MỤC </div>
                    <div class="col-md-12 line-bottom-title"></div>
                    {{#each otherpost}}
                    <a href="/baiviet/{{cat_id}}/{{subcat_id}}/{{post_id}}" class="row row-margin otherpostsamecat"
                        style="margin-top: 15px !important">
                        <div class="col-md-6" style="padding-right: 7px"><img src="{{link_image}}" alt="{{link_name}}"
                                class="otherpostsamecat-pic"></div>
                        <div class="col-md-6" style="padding-left: 7px; font-size: 10pt">{{title}}</div>
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="position-fixed rscr-btn">
            <img src="/img/scrollbar/rscr-btn.png">
        </div>
        {{/if}}

        {{!-- Footer --}}
        {{> footer}}

    </div>

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- Script --}}
    <script>
        $(document).ready(function () {
            // Auto scroll to top
            $(window).scrollTop(0);

            $(window).scroll(function () {
                if ($(window).scrollTop() > 27) {
                    $("#scroll-smooth").css("display", "block");
                    $("#scroll-nav").addClass("position-fixed");
                    $("#scroll-nav").addClass("bootstrap-position-fixed");
                    $(".menu").addClass("menu-scroll");
                    $(".line-under-menu").hide();
                    $(".shadowbox-nav").hide();
                    $(".menu-link").hover(function () {
                        $(this).css("color", "blue");
                        $(this).css("font-weight", "700");
                    }, function () {
                        $(this).css("color", "rgb(86, 86, 86)");
                        $(this).css("font-weight", "500");
                    });
                }
                else {
                    $("#scroll-smooth").css("display", "none");
                    $("#scroll-nav").removeClass("position-fixed");
                    $("#scroll-nav").removeClass("bootstrap-position-fixed");
                    $(".menu").removeClass("menu-scroll");
                    $(".line-under-menu").show();
                    $(".shadowbox-nav").show();
                    $(".menu-link").hover(function () {
                        $(this).css("color", "black");
                    }, function () {
                        $(this).css("color", "rgb(86, 86, 86)");
                    });
                }
            });

            $(".rscr-btn").hide();
            $(window).scroll(function () {
                if ($(window).scrollTop() > 700) {
                    $(".rscr-btn").show();
                }
                else {
                    $(".rscr-btn").hide();
                }
            });

            $(".rscr-btn").click(function () {
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("body").offset().top
                }, 1500);
            });
        })
    </script>
</body>

</html>