<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
        rel="stylesheet" type="text/css" />
    <title> HNNews - Trang cá nhân </title>
</head>

<body>
    <div class="container">
        {{!-- Navigation bar --}}
        {{> nav}}

        {{#if err_message}}
        <div class="alert alert-warning alert-dismissible fade show popupupdateprofile-background" role="alert">
            <div class="col-md-12 noti-popupupdateprofile">
                <p class="popup-title"> THÔNG BÁO LỖI </p>
                <p class="popup-content"> {{{err_message}}} </p>
                <button onclick="window.location.href = '/thongtincanhan';" type="button"
                    class="btn btn-dark close-btn"> Đóng </button>
            </div>
        </div>
        {{/if}}

        {{#ifCond isAuthenticatedAccount authAccount.role_id 1}}
        {{!-- User --}}
        <div class="row user-body">

            {{!-- Menu --}}
            <div class="col-md-3">
                <div class="menu-left">
                    <img class="avatar" src="/img/avatar/1.png">
                    <div class="name"> {{authAccount.fullname}} </div>
                    <div class="boxshadow">
                        <li class="user-setting list bg-active-now">
                            <a href="" class="user-setting-link text-active-now" data-target="#personal-information"
                                data-toggle="collapse" id="btn-personal-information">
                                Thông tin cá nhân </a>
                        </li>
                        <li class="user-setting list">
                            <a href="" class="user-setting-link" data-target="#purchase-premium" data-toggle="collapse"
                                id="btn-purchase-premium">
                                Gia hạn tài khoản </a>
                        </li>
                        <li class="user-setting list">
                            <a href="" class="user-setting-link" data-target="#change-password" data-toggle="collapse"
                                id="btn-change-password">
                                Đổi mật khẩu </a>
                        </li>
                        <li class="user-setting list menu-logout">
                            <form id="usermenu-logout" method="POST" action="/dangxuat">
                                <a onclick="$('#usermenu-logout').submit();" class="user-setting-link" id="btn-logout">
                                    Đăng xuất </a>
                            </form>
                        </li>
                    </div>
                </div>
            </div>

            {{!-- Content --}}
            <div class="col-md-9">
                <div class="content-right">
                    <div id="tab-content">

                        <!-- Personal information -->
                        <div class="content collapse show" id="personal-information" data-parent="#tab-content">
                            <div class="row" style="margin: 10px 20px">
                                <div class="col-md-3" style="text-align: center;">
                                    <img src="/img/avatar/1.png" class="m-x-auto img-fluid rounded-circle ava"
                                        alt="avatar">
                                    <label class="custom-file">
                                        <span class="custom-file-control"> Đổi Avatar </span>
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <form role="form" method="POST" action="/thongtincanhan/capnhatthongtin">
                                        {{#with user}}

                                        <!-- Name -->
                                        <div class="form-group">
                                            <label class="col-md-6 col-form-label form-control-label"> Họ và tên
                                            </label>
                                            <input name="username" class="col-md-10 form-control form-text-size"
                                                type="text" placeholder="Nhập họ và tên của bạn" value="{{full_name}}">
                                        </div>

                                        <!-- Email -->
                                        <div class="form-group">
                                            <label class="col-md-6 col-form-label form-control-label"> Email </label>
                                            <input name="useremail" class="col-md-10 form-control form-text-size"
                                                type="email" placeholder="Nhập email của bạn" value="{{email}}">
                                        </div>

                                        <!-- Day of birth -->
                                        <div class="form-group">
                                            <label class="col-md-6 col-form-label form-control-label"> Ngày tháng năm
                                                sinh
                                            </label>
                                            <input name="userdob" class="col-md-10 form-control form-text-size"
                                                type="date" value="{{dob}}">
                                        </div>

                                        <!-- Day Account -->
                                        <div class="col-md-10"
                                            style="padding: 0;display: flex; flex-direction: row; justify-content: space-between;">
                                            <div class="row form-group"
                                                style="margin: 0; display: flex; justify-content: flex-start">
                                                <label class="col-md-10 col-form-label form-control-label"> Ngày tạo
                                                </label>
                                                <input name="dob" class="col-md-10 form-control form-text-size"
                                                    type="text" value="{{start_date}}" disabled>
                                            </div>
                                            <div class="row form-group"
                                                style="margin: 0; display: flex; justify-content: flex-end">
                                                <label class="col-md-10 col-form-label form-control-label"> Ngày hết hạn
                                                </label>
                                                <input name="dob" class="col-md-10 form-control form-text-size"
                                                    type="text" value="{{end_date}}" disabled>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary col-md-3" value="Cập nhật"> Cập
                                                nhật
                                            </button>
                                        </div>
                                        {{/with}}
                                    </form>

                                </div>
                            </div>
                        </div>

                        <!-- Purchase Premium -->
                        <div class="content collapse" id="purchase-premium" data-parent="#tab-content">
                            <div class="col-md-12 purchase-notification">
                                <p style="padding: 5px 20px; text-align: justify;"> Tính năng này chưa phát triển, vui
                                    lòng liên hệ <span style="color: #8DB1F7; font-weight: 700;"> Quản trị viên </span>
                                    trang báo HNNews thông qua email: <span style="color: red; font-weight: 700;">
                                        hnnews@hn.com </span> để được gia hạn. </p>
                            </div>
                        </div>

                        <!-- Change password -->
                        <div class="content collapse" id="change-password" data-parent="#tab-content">
                            <div id="passwordForm" class="col-md-8 passchange">
                                <!-- Old password -->
                                <div class="form-group">
                                    <label class="col-form-label form-control-label"> Mật khẩu cũ </label>
                                    <input type="password" class="input-lg form-control form-text-size"
                                        name="oldpassword" id="user-oldpassword" placeholder="Nhập mật khẩu cũ"
                                        autocomplete="off">
                                </div>
                                <!-- New password -->
                                <div class="form-group">
                                    <label class="col-form-label form-control-label"> Mật khẩu mới </label>
                                    <input type="password" class="input-lg form-control form-text-size"
                                        name="newpassword" id="user-newpassword" placeholder="Nhập mật khẩu mới"
                                        autocomplete="off">
                                </div>
                                <!-- Retype new password -->
                                <div class="form-group">
                                    <label class="col-form-label form-control-label"> Nhập lại mật khẩu </label>
                                    <input type="password" class="input-lg form-control form-text-size"
                                        name="retypepassword" id="user-retypepassword"
                                        placeholder="Nhập lại mật khẩu mới" autocomplete="off">
                                </div>
                                <button class="col-md-4 btn btn-load btn-lg btn-primary" id="btn-user-changepass"
                                    data-loading-text="Changing Password..."> Đổi mật khẩu </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Popup --}}
            <div class="row popup-notificationSuccess">
                <div class="col-md-12 noti-popup">
                    <form id="success-logout" method="POST" action="/dangxuat">
                        <p class="popup-title"> THÔNG BÁO </p>
                        <p class="popup-content"> Thay đổi mật khẩu <span style="color: rgb(40, 200, 0)">thành
                                công</span>. Bạn có thể kiểm tra bằng cách<a onclick="$('#success-logout').submit();"
                                class="changepass-logout">&nbsp;ĐĂNG XUẤT&nbsp;</a>và vào lại hệ thống. </p>
                        <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                    </form>
                </div>
            </div>

            <div class="row popup-notificationFailOldPass">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do mật khẩu cũ không đúng. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailEqualPass">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do mật khẩu nhập mới nhập lại không giống nhau. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailNotTyping">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do chưa điền đầy đủ thông tin yêu cầu. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailEnoughCharacter">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do mật khẩu phải có ít nhất 6 kí tự. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>
        </div>
        {{/ifCond}}

        {{#ifCond isAuthenticatedAccount authAccount.role_id 2}}
        {{#if meg.length}}
        <div class="row popup-notificationSuccessNow">
            <div class="col-md-12 noti-popup">
                <p class="popup-title"> THÔNG BÁO </p>
                <p class="popup-content"> {{{meg}}} </p>
                <button type="button" class="btn btn-dark close-btn"> Đóng </button>
            </div>
        </div>
        {{/if}}

        {{!-- Writer --}}
        <div class="row writer-body">

            {{!-- Menu --}}
            <div class="col-md-3">
                <div class="menu-left">
                    <img class="avatar" src="/img/avatar/1.png">
                    <div class="name">{{authAccount.fullname}} </div>
                    <div class="boxshadow">
                        <li class="user-setting list bg-active-now">
                            <a href="" class="user-setting-link text-active-now" data-target="#personal-information"
                                data-toggle="collapse" id="btn-personal-information">
                                Thông tin cá nhân </a>
                        </li>
                        <li class="user-setting list">
                            <a href="" class="user-setting-link" data-target="#new-post" data-toggle="collapse"
                                id="btn-new-post">
                                Viết bài mới </a>
                        </li>
                        <li class="user-setting list">
                            <a href="" class="user-setting-link" data-target="#list-posts" data-toggle="collapse"
                                id="btn-list-posts">
                                Danh sách bài viết </a>
                        </li>
                        <li class="user-setting list">
                            <a href="" class="user-setting-link" data-target="#change-password" data-toggle="collapse"
                                id="btn-change-password">
                                Đổi mật khẩu </a>
                        </li>
                        <li class="user-setting list menu-logout">
                            <form id="writermenu-logout" method="POST" action="/dangxuat">
                                <a onclick="$('#writermenu-logout').submit();" class="user-setting-link"
                                    id="btn-logout">
                                    Đăng xuất </a>
                            </form>
                        </li>
                    </div>
                </div>
            </div>

            {{!-- Content --}}
            <div class="col-md-9">
                <div class="content-right">
                    <div id="tab-content">

                        <!-- Personal information -->
                        <div class="content collapse show" id="personal-information" data-parent="#tab-content">
                            <div class="row" style="margin: 10px 20px">
                                <div class="col-md-3" style="text-align: center;">
                                    <img src="/img/avatar/1.png" class="m-x-auto img-fluid rounded-circle ava"
                                        alt="avatar">
                                    <label class="custom-file">
                                        <span class="custom-file-control"> Đổi Avatar </span>
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <form role="form" method="POST" action="/thongtincanhan/capnhatthongtin">
                                        {{#with writer}}
                                        <!-- Name -->
                                        <div class="form-group">
                                            <label class="col-md-6 col-form-label form-control-label"> Họ và tên
                                            </label>
                                            <input name="writername" class="col-md-10 form-control form-text-size"
                                                type="text" placeholder="Nhập họ và tên của bạn" value="{{full_name}}">
                                        </div>

                                        <!-- Email -->
                                        <div class="form-group">
                                            <label class="col-md-6 col-form-label form-control-label"> Email </label>
                                            <input name="writeremail" class="col-md-10 form-control form-text-size"
                                                type="email" placeholder="Nhập email của bạn" value="{{email}}">
                                        </div>

                                        <!-- Day of birth -->
                                        <div class="form-group">
                                            <label class="col-md-6 col-form-label form-control-label"> Ngày tháng năm
                                                sinh
                                            </label>
                                            <input name="writerdob" class="col-md-10 form-control form-text-size"
                                                type="date" value="{{dob}}">
                                        </div>

                                        <!-- Writer name -->
                                        <div class="form-group">
                                            <label class="col-lg-6 col-form-label form-control-label"> Bút danh
                                            </label>
                                            <input name="penname" class="col-md-10 form-control form-text-size"
                                                type="text" placeholder="Nhập bút danh của bạn" value="{{pen_name}}">
                                        </div>

                                        <!-- Button -->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary col-md-3" value="Cập nhật"> Cập
                                                nhật
                                            </button>
                                        </div>
                                        {{/with}}

                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- New post -->
                        <div class="content collapse" id="new-post" data-parent="#tab-content">
                            <div class="col-md-12 post-content-area">
                                <form role="form" method="POST" action="/thongtincanhan/vietbai"
                                    enctype="multipart/form-data" id="frm-writerpost">
                                    <!-- Avatar post -->
                                    <div class="form-group">
                                        <label class="col-md-6 col-form-label form-control-label"> Ảnh đại diện bài viết
                                        </label>
                                        <div class="col-md-10" style="padding: 0;">
                                            <input id="bts-fileinput" name="writeravapost" type="file"
                                                class="form-control-file form-text-size" style="padding: 5px 0px;"
                                                aria-describedby="fileHelp" data-show-preview="false">
                                            <label class="custom-file-label" for="bts-fileinput"
                                                style="font-size: 11pt !important; padding-top: 8px; height: 38px;">
                                                Chọn tệp ...
                                            </label>
                                        </div>
                                    </div>
                                    <!-- Title post -->
                                    <div class="form-group">
                                        <label class="col-md-6 col-form-label form-control-label"> Tiêu đề bài viết
                                        </label>
                                        <input name="writertitlepost" class="col-md-10 form-control form-text-size"
                                            type="text" placeholder="Nhập tiêu đề">
                                    </div>
                                    <!-- Summary post -->
                                    <div class="form-group">
                                        <label class="col-md-6 col-form-label form-control-label"> Tóm tắt bài viết
                                        </label>
                                        <textarea name="writersummarypost" class="col-md-10 form-control form-text-size"
                                            type="text" placeholder="Nhập tóm tắt bài viết"></textarea>
                                    </div>
                                    <!-- Inside post -->
                                    <div class="form-group">
                                        <label class="col-md-6 col-form-label form-control-label"> Nội dung bài viết
                                        </label>
                                        <div class="col-md-10" style="padding: 0;">
                                            <textarea id="tinymce-txt" class="col-md-10 form-control form-text-size"
                                                name="writertinymce"></textarea></div>
                                    </div>
                                    <!-- Category and is_premium post -->
                                    <div class="form-group row" style="margin: 0;">
                                        <div class="col-md-6" style="padding-left: 0;">
                                            <label class="col-form-label form-control-label"> Chuyên mục bài viết
                                            </label>
                                            <select name="writercategorypost"
                                                class="col-md-12 form-control form-text-size"
                                                placeholder="Chọn chuyên mục bài viết">
                                                <option value="" disabled selected> Chọn chuyên mục </option>
                                                {{#each subcategory}}
                                                <option value="{{subcat_id}}"> {{subcategory_name}} </option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-4" style="padding-left: 0;">
                                            <label class="col-form-label form-control-label"> Thiết lập Premium
                                            </label>
                                            <select name="writerispremium"
                                                class="col-md-12 form-control form-text-size">
                                                <option value="" disabled selected> Chọn thiết lập </option>
                                                <option value="1"> Bài viết Premium </option>
                                                <option value="0"> Bài viết thường </option>
                                            </select>
                                        </div>
                                    </div>

                                    {{!-- Tag post --}}
                                    <div class="form-group">
                                        <div class="col-md-10" style="padding-left: 0;">
                                            <label for="tag-typer" class="col-form-label form-control-label"> Nhãn dán
                                                bài viết </label>
                                            <div id="writertags">
                                                <input id="tag-typer" name="tagtyper"
                                                    class="form-control form-text-size" type="text"
                                                    placeholder="Thêm nhãn..."
                                                    style="background-color: transparent;  margin-top: 10px;">
                                                <input name="writertagpost"
                                                    class="col-md-10 form-control form-text-size" type="text"
                                                    data-role="tagsinput" style="display: none;">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary col-md-3"
                                            id="btn-writer-create-post" value="Gửi bài viết"> Gửi bài viết </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- List posts -->
                        <div class="content collapse" id="list-posts" data-parent="#tab-content">
                            <div class="col-md-12 listposts">
                                {{!-- Filter --}}
                                <div class="col-form-label form-control-label"> Sắp xếp bài viết </div>
                                <div class="row content-filter">
                                    <a id="filter-0" class="filter-btn filter-active"> Tất cả </a>
                                    <a id="filter-1" class="filter-btn"> Đã xuất bản </a>
                                    <a id="filter-2" class="filter-btn"> Đã duyệt và chờ xuất bản </a>
                                    <a id="filter-3" class="filter-btn"> Chưa được duyệt </a>
                                    <a id="filter-4" class="filter-btn"> Bị từ chối </a>
                                </div>
                                {{!-- <div class="row my-1">

                                </div> --}}

                                {{!-- Content list posts --}}
                                {{#each writerpostlist}}
                                <div class="row content-list-post all-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>

                                    {{#ifEquals status_post '1'}}
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: rgb(40, 200, 0)">{{status_name}}</strong>
                                    </div>
                                    {{/ifEquals}}

                                    {{#ifEquals status_post '2' }}
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: blue">{{status_name}}</strong>
                                    </div>
                                    {{/ifEquals}}

                                    {{#ifEquals status_post '3' }}
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: #ffc107">{{status_name}}</strong>
                                    </div>
                                    <div class="col-md-3 content-button text-right">
                                        <a class="col-md-6" href="/thongtincanhan/suabaiviet/{{post_id}}"> Chỉnh sửa
                                        </a>
                                    </div>
                                    {{/ifEquals}}

                                    {{#ifEquals status_post '4'}}
                                    <div class="col-md-3 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: red">{{status_name}}</strong>
                                    </div>
                                    <div class="col-md-5 content-button text-right">
                                        <a onclick="$('#feedbai{{post_id}}').show()" class="col-md-6"
                                            id="writer-getfeedback"> Xem góp ý </a>
                                        <a class="col-md-6" href="/thongtincanhan/suabaiviet/{{post_id}}"> Chỉnh sửa
                                        </a>
                                    </div>
                                    {{/ifEquals}}
                                </div>

                                <div class="row popup-notificationGetFeedBack" id="feedbai{{post_id}}">
                                    <div class="col-md-12 noti-popup">
                                        <p class="popup-title"> GÓP Ý CHỈNH SỬA </p>
                                        <p class="popup-content"> {{content}} </p>
                                        <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                                    </div>
                                </div>
                                {{/each}}

                                {{#each poststatus1}}
                                <div class="row content-list-post one-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: rgb(40, 200, 0)">{{status_name}}</strong>
                                    </div>
                                </div>
                                {{/each}}

                                {{#each poststatus2}}
                                <div class="row content-list-post two-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: blue">{{status_name}}</strong>
                                    </div>
                                </div>
                                {{/each}}

                                {{#each poststatus3}}
                                <div class="row content-list-post three-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: #ffc107">{{status_name}}</strong>
                                    </div>
                                    <div class="col-md-3 content-button text-right">
                                        <a class="col-md-6" href="/thongtincanhan/suabaiviet/{{post_id}}"> Chỉnh sửa
                                        </a>
                                    </div>
                                </div>
                                {{/each}}

                                {{#each poststatus4}}
                                <div class="row content-list-post four-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>
                                    <div class="col-md-3 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: red">{{status_name}}</strong>
                                    </div>
                                    <div class="col-md-5 content-button text-right">
                                        <a class="col-md-6" href="#"> Xem góp ý </a>
                                        <a class="col-md-6" href="/thongtincanhan/suabaiviet/{{post_id}}"> Chỉnh sửa
                                        </a>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <!-- Change password -->
                        <div class="content collapse" id="change-password" data-parent="#tab-content">
                            <div id="passwordForm" class="col-md-8 passchange">
                                <!-- Old password -->
                                <div class="form-group">
                                    <label class="col-form-label form-control-label"> Mật khẩu cũ </label>
                                    <input id="writer-oldpassword" type="password"
                                        class="input-lg form-control form-text-size" name="oldpassword"
                                        placeholder="Nhập mật khẩu cũ" autocomplete="off">
                                </div>
                                <!-- New password -->
                                <div class="form-group">
                                    <label class="col-form-label form-control-label"> Mật khẩu mới </label>
                                    <input id="writer-newpassword" type="password"
                                        class="input-lg form-control form-text-size" name="newpassword"
                                        placeholder="Nhập mật khẩu mới" autocomplete="off">
                                </div>
                                <!-- Retype new password -->
                                <div class="form-group">
                                    <label class="col-form-label form-control-label"> Nhập lại mật khẩu </label>
                                    <input id="writer-retypepassword" type="password"
                                        class="input-lg form-control form-text-size" name="retypepassword"
                                        placeholder="Nhập lại mật khẩu mới" autocomplete="off">
                                </div>
                                <button class="col-md-4 btn btn-load btn-lg btn-primary" id="btn-writer-changepass"
                                    data-loading-text="Changing Password..."> Đổi mật khẩu </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Popup --}}
            <div class="row popup-notificationSuccess">
                <div class="col-md-12 noti-popup">
                    <form id="success-logout" method="POST" action="/dangxuat">
                        <p class="popup-title"> THÔNG BÁO </p>
                        <p class="popup-content"> Thay đổi mật khẩu <span style="color: rgb(40, 200, 0)">thành
                                công</span>. Bạn có thể kiểm tra bằng cách<a onclick="$('#success-logout').submit();"
                                class="changepass-logout">&nbsp;ĐĂNG XUẤT&nbsp;</a>và vào lại hệ thống. </p>
                        <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                    </form>
                </div>
            </div>

            <div class="row popup-notificationFailOldPass">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do mật khẩu cũ không đúng. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailEqualPass">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do mật khẩu nhập mới nhập lại không giống nhau. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailNotTyping">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do chưa điền đầy đủ thông tin yêu cầu. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailEnoughCharacter">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do mật khẩu phải có ít nhất 6 kí tự. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationSuccessPost">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO </p>
                    <p class="popup-content"> Tạo bài viết mới <span style="color: rgb(40, 200, 0)">thành
                            công</span>. Hãy vào danh sách bài v iết để kiểm tra. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailQueryPost">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Tạo bài viết mới <span style="color: red">thất bại</span>
                        . Vui lòng kiểm tra kĩ lại thông tin tạo bài viết. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailNotTypingPost">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Tạo bài viết mới <span style="color: red">thất bại</span>
                        do chưa điền đầy đủ thông tin yêu cầu. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>
        </div>
        {{/ifCond}}

        {{#ifCond isAuthenticatedAccount authAccount.role_id 3}}
        {{#if meg.length}}
        <div class="row popup-notificationSuccessNow">
            <div class="col-md-12 noti-popup">
                <p class="popup-title"> THÔNG BÁO </p>
                <p class="popup-content"> {{{meg}}} </p>
                <button type="button" class="btn btn-dark close-btn"> Đóng </button>
            </div>
        </div>
        {{/if}}

        {{!-- Editor --}}
        <div class="row editor-body">

            {{!-- Menu --}}
            <div class="col-md-3">
                <div class="menu-left">
                    <img class="avatar" src="/img/avatar/1.png">
                    <div class="name"> {{authAccount.fullname}} </div>
                    <div class="boxshadow">
                        <li class="user-setting list bg-active-now">
                            <a href="" class="user-setting-link text-active-now" data-target="#personal-information"
                                data-toggle="collapse" id="btn-personal-information">
                                Thông tin cá nhân </a>
                        </li>
                        <li class="user-setting list">
                            <a href="" class="user-setting-link" data-target="#list-posts" data-toggle="collapse"
                                id="btn-list-posts">
                                Duyệt bài </a>
                        </li>
                        <li class="user-setting list">
                            <a href="" class="user-setting-link" data-target="#change-password" data-toggle="collapse"
                                id="btn-change-password">
                                Đổi mật khẩu </a>
                        </li>
                        <li class="user-setting list menu-logout">
                            <form id="editormenu-logout" method="POST" action="/dangxuat">
                                <a onclick="$('#editormenu-logout').submit();" class="user-setting-link"
                                    id="btn-logout">
                                    Đăng xuất </a>
                            </form>
                        </li>
                    </div>
                </div>
            </div>

            {{!-- Content --}}
            <div class="col-md-9">
                <div class="content-right">
                    <div id="tab-content">

                        <!-- Personal information -->
                        <div class="content collapse show" id="personal-information" data-parent="#tab-content">
                            <div class="row" style="margin: 10px 20px">
                                <div class="col-md-3" style="text-align: center;">
                                    <img src="/img/avatar/1.png" class="m-x-auto img-fluid rounded-circle ava"
                                        alt="avatar">
                                    <label class="custom-file">
                                        <span class="custom-file-control"> Đổi Avatar </span>
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <form role="form" method="POST" action="/thongtincanhan/capnhatthongtin">
                                        {{#with editor}}
                                        <!-- Name -->
                                        <div class="form-group">
                                            <label class="col-md-6 col-form-label form-control-label"> Họ và tên
                                            </label>
                                            <input name="editorname" class="col-md-10 form-control form-text-size"
                                                type="text" placeholder="Nhập họ và tên của bạn" value="{{full_name}}">
                                        </div>

                                        <!-- Email -->
                                        <div class="form-group">
                                            <label class="col-md-6 col-form-label form-control-label"> Email </label>
                                            <input name="editoremail" class="col-md-10 form-control form-text-size"
                                                type="email" placeholder="Nhập email của bạn" value="{{email}}">
                                        </div>
                                        <!-- Day of birth -->
                                        <div class="form-group">
                                            <label class="col-md-6 col-form-label form-control-label"> Ngày tháng năm
                                                sinh
                                            </label>
                                            <input name="editordob" class="col-md-10 form-control form-text-size"
                                                type="date" value="{{dob}}">
                                        </div>
                                        <!-- Button -->
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary col-md-3" value="Cập nhật">
                                        </div>
                                        {{/with}}
                                    </form>

                                </div>
                            </div>
                        </div>

                        <!-- Approve -->
                        <div class="content collapse" id="list-posts" data-parent="#tab-content">
                            <div class="col-md-12 listposts">
                                {{!-- Filter --}}
                                <div class="col-form-label form-control-label"> Sắp xếp bài viết </div>
                                <div class="row content-filter">
                                    <a id="filter-0" class="filter-btn filter-active"> Tất cả </a>
                                    <a id="filter-1" class="filter-btn"> Đã xuất bản </a>
                                    <a id="filter-2" class="filter-btn"> Đã duyệt và chờ xuất bản </a>
                                    <a id="filter-3" class="filter-btn"> Chưa được duyệt </a>
                                    <a id="filter-4" class="filter-btn"> Bị từ chối </a>
                                </div>
                                {{!-- <div class="row my-1">

                                </div> --}}

                                {{!-- Content list posts --}}
                                {{#each editorpostlist}}
                                <div class="row content-list-post all-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>

                                    {{#ifEquals status_post '1'}}
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: rgb(40, 200, 0)">{{status_name}}</strong>
                                    </div>
                                    {{/ifEquals}}

                                    {{#ifEquals status_post '2' }}
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: blue">{{status_name}}</strong>
                                    </div>
                                    {{/ifEquals}}

                                    {{#ifEquals status_post '3' }}
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: #ffc107">{{status_name}}</strong>
                                    </div>
                                    <div class="col-md-3 content-button text-right">
                                        <a class="col-md-6" href="/thongtincanhan/duyetbaiviet/{{post_id}}"> Duyệt bài
                                        </a>
                                    </div>
                                    {{/ifEquals}}

                                    {{#ifEquals status_post '4'}}
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: red">{{status_name}}</strong>
                                    </div>
                                    {{/ifEquals}}
                                </div>
                                {{/each}}

                                {{#each pstatus1}}
                                <div class="row content-list-post one-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: rgb(40, 200, 0)">{{status_name}}</strong>
                                    </div>
                                </div>
                                {{/each}}

                                {{#each pstatus2}}
                                <div class="row content-list-post two-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: blue">{{status_name}}</strong>
                                    </div>
                                </div>
                                {{/each}}

                                {{#each pstatus3}}
                                <div class="row content-list-post three-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: #ffc107">{{status_name}}</strong>
                                    </div>
                                    <div class="col-md-3 content-button text-right">
                                        <a class="col-md-6" href="/thongtincanhan/duyetbaiviet/{{post_id}}"> Duyệt bài
                                        </a>
                                    </div>
                                </div>
                                {{/each}}

                                {{#each pstatus4}}
                                <div class="row content-list-post four-post">
                                    <div class="col-md-12 content-title">
                                        {{title}}
                                    </div>
                                    <div class="col-md-4 content-datesend">
                                        Chuyên mục:&nbsp; <strong
                                            style="font-weight: 600; color: black;">{{subcategory_name}}</strong>
                                    </div>
                                    <div class="col-md-5 content-status">
                                        Trạng thái:&nbsp; <strong
                                            style="font-weight: 600; color: red">{{status_name}}</strong>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <!-- Change password -->
                        <div class="content collapse" id="change-password" data-parent="#tab-content">
                            <div id="passwordForm" class="col-md-8 passchange">
                                <!-- Old password -->
                                <div class="form-group">
                                    <label class="col-form-label form-control-label"> Mật khẩu cũ </label>
                                    <input id="editor-oldpassword" type="password"
                                        class="input-lg form-control form-text-size" name="oldpassword"
                                        placeholder="Nhập mật khẩu cũ" autocomplete="off">
                                </div>
                                <!-- New password -->
                                <div class="form-group">
                                    <label class="col-form-label form-control-label"> Mật khẩu mới </label>
                                    <input id="editor-newpassword" type="password"
                                        class="input-lg form-control form-text-size" name="newpassword"
                                        placeholder="Nhập mật khẩu mới" autocomplete="off">
                                </div>
                                <!-- Retype new password -->
                                <div class="form-group">
                                    <label class="col-form-label form-control-label"> Nhập lại mật khẩu </label>
                                    <input id="editor-retypepassword" type="password"
                                        class="input-lg form-control form-text-size" name="retypepassword"
                                        placeholder="Nhập lại mật khẩu mới" autocomplete="off">
                                </div>
                                <button class="col-md-4 btn btn-load btn-lg btn-primary" id="btn-editor-changepass"
                                    data-loading-text="Changing Password..."> Đổi mật khẩu </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Popup --}}
            <div class="row popup-notificationSuccess">
                <div class="col-md-12 noti-popup">
                    <form id="success-logout" method="POST" action="/dangxuat">
                        <p class="popup-title"> THÔNG BÁO </p>
                        <p class="popup-content"> Thay đổi mật khẩu <span style="color: rgb(40, 200, 0)">thành
                                công</span>. Bạn có thể kiểm tra bằng cách<a onclick="$('#success-logout').submit();"
                                class="changepass-logout">&nbsp;ĐĂNG XUẤT&nbsp;</a>và vào lại hệ thống. </p>
                        <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                    </form>
                </div>
            </div>

            <div class="row popup-notificationFailOldPass">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do mật khẩu cũ không đúng. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailEqualPass">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do mật khẩu nhập mới nhập lại không giống nhau. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailNotTyping">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do chưa điền đầy đủ thông tin yêu cầu. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

            <div class="row popup-notificationFailEnoughCharacter">
                <div class="col-md-12 noti-popup">
                    <p class="popup-title"> THÔNG BÁO LỖI </p>
                    <p class="popup-content"> Thay đổi mật khẩu <span style="color: red">thất bại</span>
                        do mật khẩu phải có ít nhất 6 kí tự. </p>
                    <button type="button" class="btn btn-dark close-btn"> Đóng </button>
                </div>
            </div>

        </div>
        {{/ifCond}}

        {{!-- Footer --}}
        {{> footer}}
    </div>

    {{!-- Bootstrap 4.3.1 --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{!-- JQuery 3.3.1 --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- JQuery Validation --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    {{!-- TinyMCE --}}
    <script
        src="https://cdn.tiny.cloud/1/oxfc3x7e0wx57fgn8yne72k6q047976brc8rzl1x1qt8u80p/tinymce/5/tinymce.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                tinymce.init({
                    selector: '#tinymce-txt',
                    height: 200,
                    menubar: false,
                    plugins: 'paste image link autolink lists table media',
                    toolbar: [
                        'undo redo | bold italic underline | numlist bullist | alignleft aligncenter alignright',
                        'forecolor backcolor',
                        'link image media',
                    ]
                });
            })
        })
    </script>

    {{!-- Bootstrap Fileinput --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
    <script>
        $(function () {
            $('#bts-fileinput').fileinput({
                theme: 'fa',
                dropZoneEnabled: false,
                allowedFileExtensions: ['png', 'jpg'],
                uploadUrl: '/thongtincanhan/vietbai',
                uploadAsync: false,
            });
        })
    </script>

    {{!-- Script JS --}}
    <script>
        $(document).ready(function () {

            $(".user-setting-link").click(function () {
                $("#btn-personal-information").parent(".list").removeClass("bg-active-now");
                $("#btn-personal-information").removeClass("text-active-now");
                $("#btn-new-post").parent(".list").removeClass("bg-active-now");
                $("#btn-new-post").removeClass("text-active-now");
                $("#btn-list-posts").parent(".list").removeClass("bg-active-now");
                $("#btn-list-posts").removeClass("text-active-now");
                $("#btn-purchase-premium").parent(".list").removeClass("bg-active-now");
                $("#btn-purchase-premium").removeClass("text-active-now");
                $("#btn-change-password").parent(".list").removeClass("bg-active-now");
                $("#btn-change-password").removeClass("text-active-now");
                $(this).parent(".list").addClass("bg-active-now");
                $(this).addClass("text-active-now");
            });

            $(".filter-btn").click(function () {
                $("#filter-1").removeClass("filter-active");
                $("#filter-2").removeClass("filter-active");
                $("#filter-3").removeClass("filter-active");
                $("#filter-4").removeClass("filter-active");
                $("#filter-0").removeClass("filter-active");
                $(this).addClass("filter-active");
            })

            $(".one-post").hide();
            $(".two-post").hide();
            $(".three-post").hide();
            $(".four-post").hide();

            $("#filter-0").click(function () {
                $(".one-post").hide();
                $(".two-post").hide();
                $(".three-post").hide();
                $(".four-post").hide();
                $(".all-post").show();
                $(".all-post").css("visibility", "visible");
            })

            $("#filter-1").click(function () {
                $(".all-post").hide();
                $(".two-post").hide();
                $(".three-post").hide();
                $(".four-post").hide();
                $(".one-post").show();
                $(".one-post").css("visibility", "visible");
            })

            $("#filter-2").click(function () {
                $(".one-post").hide();
                $(".all-post").hide();
                $(".three-post").hide();
                $(".four-post").hide();
                $(".two-post").show();
                $(".two-post").css("visibility", "visible");
            })

            $("#filter-3").click(function () {
                $(".one-post").hide();
                $(".two-post").hide();
                $(".all-post").hide();
                $(".four-post").hide();
                $(".three-post").show();
                $(".three-post").css("visibility", "visible");
            })

            $("#filter-4").click(function () {
                $(".one-post").hide();
                $(".two-post").hide();
                $(".three-post").hide();
                $(".all-post").hide();
                $(".four-post").show();
                $(".four-post").css("visibility", "visible");
            })

            $(".user-setting").hover(function () {
                if ($(this).hasClass("menu-logout")) {
                    $(this).children("form").children("#btn-logout").addClass("text-active-now");
                }
            }, function () {
                if ($(this).hasClass("menu-logout")) {
                    $(this).children("form").children("#btn-logout").removeClass("text-active-now");
                }
            })

            $(".list").hover(function () {
                $(this).children(".user-setting-link").css("color", "white");
            }, function () {
                $(this).children(".user-setting-link").css("color", "black");
            });

            $(".close-btn").click(function () {
                $(".popup-notificationFailOldPass").hide();
                $(".popup-notificationFailEqualPass").hide();
                $(".popup-notificationFailNotTyping").hide();
                $(".popup-notificationFailEnoughCharacter").hide();
                $(".popup-notificationFailQueryPost").hide();
                $(".popup-notificationFailNotTypingPost").hide();
                $(".popup-notificationSuccessNow").hide();
                $(".popup-notificationGetFeedBack").hide();
            })

            $(".popup-notificationSuccess").children("div").children("form").children("button").click(function () {
                $(".popup-notificationSuccess").hide();
                window.location.reload();
            })

            $(".popup-notificationSuccessPost").children("div").children("button").click(function () {
                $(".popup-notificationSuccess").hide();
                window.location.reload();
            })

            function btnuserchangepassClick() {
                // Create parameters
                var oldpass = $("#user-oldpassword").val();
                var newpass = $("#user-newpassword").val();
                var retypepass = $("#user-retypepassword").val();

                $.post('/thongtincanhan/doimatkhau', {
                    oldpass: oldpass,
                    newpass: newpass,
                    retypepass: retypepass
                }, function (result) {
                    if (result === 'FailOldPass') {
                        $(".popup-notificationFailOldPass").show();
                    } else if (result === 'FailEqualPass') {
                        $(".popup-notificationFailEqualPass").show();
                    } else if (result === 'FailEnoughCharacter') {
                        $(".popup-notificationFailEnoughCharacter").show();
                    } else if (result === 'FailNotTyping') {
                        $(".popup-notificationFailNotTyping").show();
                    } else if (result === 'Success') {
                        $(".popup-notificationSuccess").show();
                    }
                })
            }

            $("#btn-user-changepass").click(function () {
                btnuserchangepassClick();
            })

            function btnwriterchangepassClick() {
                // Create parameters
                var oldpass = $("#writer-oldpassword").val();
                var newpass = $("#writer-newpassword").val();
                var retypepass = $("#writer-retypepassword").val();

                $.post('/thongtincanhan/doimatkhau', {
                    oldpass: oldpass,
                    newpass: newpass,
                    retypepass: retypepass
                }, function (result) {
                    if (result === 'FailOldPass') {
                        $(".popup-notificationFailOldPass").show();
                    } else if (result === 'FailEqualPass') {
                        $(".popup-notificationFailEqualPass").show();
                    } else if (result === 'FailEnoughCharacter') {
                        $(".popup-notificationFailEnoughCharacter").show();
                    } else if (result === 'FailNotTyping') {
                        $(".popup-notificationFailNotTyping").show();
                    } else if (result === 'Success') {
                        $(".popup-notificationSuccess").show();
                    }
                })
            }

            $("#btn-writer-changepass").click(function () {
                btnwriterchangepassClick();
            })

            function btneditorchangepassClick() {
                // Create parameters
                var oldpass = $("#editor-oldpassword").val();
                var newpass = $("#editor-newpassword").val();
                var retypepass = $("#editor-retypepassword").val();

                $.post('/thongtincanhan/doimatkhau', {
                    oldpass: oldpass,
                    newpass: newpass,
                    retypepass: retypepass
                }, function (result) {
                    if (result === 'FailOldPass') {
                        $(".popup-notificationFailOldPass").show();
                    } else if (result === 'FailEqualPass') {
                        $(".popup-notificationFailEqualPass").show();
                    } else if (result === 'FailEnoughCharacter') {
                        $(".popup-notificationFailEnoughCharacter").show();
                    } else if (result === 'FailNotTyping') {
                        $(".popup-notificationFailNotTyping").show();
                    } else if (result === 'Success') {
                        $(".popup-notificationSuccess").show();
                    }
                })
            }

            $("#btn-editor-changepass").click(function () {
                btneditorchangepassClick();
            })

            function btnwritercreatepostClick() {
                $.post('/thongtincanhan/vietbai', {}, function (result) {
                    if (result === 'Success') {
                        $(".popup-notificationSuccessPost").show();
                    } else if (result === 'FailNotTyping') {
                        $(".popup-notificationFailNotTypingPost").show();
                    } else if (result === 'FailQuery') {
                        $(".popup-notificationFailQueryPost").show();
                    }
                })
            }

            $("#btn-writer-create-post").click(function () {
                btnwritercreatepostClick();
            })

            $("#frm-writerpost").validate({
                rules: {
                    writeravapost: {
                        required: true
                    },
                    writertitlepost: {
                        required: true,
                        maxlength: 60
                    },
                    writersummarypost: {
                        required: true,
                        maxlength: 80
                    },
                    writertinymce: {
                        required: true
                    },
                    writercategorypost: {
                        required: true,
                    },
                    writertagpost: {
                        required: true,
                    },
                    writerispremium: {
                        required: true,
                    }
                },
                messages: {
                    writeravapost: {
                        required: 'Không được để trống ảnh đại diện'
                    },
                    writertitlepost: {
                        required: 'Không được để trống tiêu đề',
                        maxlength: 'Tiêu đề chỉ tối đa 60 kí tự'
                    },
                    writersummarypost: {
                        required: 'Không được để trống tóm tắt',
                        maxlength: 'Tóm tắt chỉ tối đa 80 kí tự'
                    },
                    writertinymce: {
                        required: 'Không được để trống nội dung bài viết'
                    },
                    writercategorypost: {
                        required: 'Không được để trống chuyên mục',
                    },
                    writertagpost: {
                        required: 'Không được để trống nhãn dán',
                    },
                    writerispremium: {
                        required: 'Không được để trống thiết lập',
                    }
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                highlight: function (e) {
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                }
            });
        })

        var arrTag = [];

        $(document).ready(function () {
            $("#tag-typer").keypress(function (event) {
                var key = event.which;
                if (key == 32) {
                    event.preventDefault();
                    var tag = $(this).val();
                    if (tag.length > 0) {
                        $("<span class='tag' id = 'tag' style='display:none'>" + tag + "<button id='btnTag' class = 'btnTag' type='button'>&times</button></span>").insertBefore(this).fadeIn(500);
                        if (arrTag.indexOf(tag) == -1) {
                            arrTag.push(tag);
                        }
                        $('[name=writertagpost]').val(arrTag);
                        $(this).val("");
                    }
                }
            });

            $(document).on("click", ".btnTag", function () {
                var index = $(this).parent().index();
                arrTag.splice(index, 1);
                $('[name=writertagpost]').val(arrTag);
                $(this).parent().remove();
            });
        })
    </script>
</body>

</html>